.contact-page{

    background:#111827;

    padding:80px 8%;

    color:white;

}



.contact-header{

    text-align:center;

    max-width:800px;

    margin:auto;

}



.contact-header span{

    color:#fbbf24;

    letter-spacing:4px;

    font-weight:bold;

}



.contact-header h1{

    font-size:50px;

    margin:20px 0;

}



.contact-header p{

    color:#d1d5db;

    font-size:18px;

    line-height:1.7;

}






.contact-container{

    margin-top:60px;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}




.contact-box{

    background:#1f2937;

    padding:35px;

    border-radius:25px;

    border:1px solid rgba(251,191,36,.2);

    transition:.3s;

}



.contact-box:hover{

    transform:translateY(-10px);

    border-color:#fbbf24;

    box-shadow:

    0 20px 40px rgba(0,0,0,.4);

}



.contact-box h2{

    color:#fbbf24;

    margin-bottom:25px;

    font-size:23px;

}



.contact-box p{

    color:#d1d5db;

    margin:15px 0;

}



.contact-box a{

    display:block;

    color:#d1d5db;

    text-decoration:none;

    margin:15px 0;

    transition:.3s;

}



.contact-box a:hover{

    color:#fbbf24;

    transform:translateX(8px);

}






@media(max-width:900px){

    .contact-container{

        grid-template-columns:1fr;

    }


    .contact-header h1{

        font-size:38px;

    }

}